
.header {
    padding: 14px 0;
    box-sizing: border-box;
    background-color: #175786;
    overflow: hidden;
}

.logo__wrap, .menu__left, .menu__right {
    display: inline-block;
    vertical-align: middle;
}

.menu__item a {
    text-decoration: none;
    font-family: OpenSans;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.menu__left {
    position: relative;
    top: -2px;
}

.menu__item {
    display: inline-block;
    margin-right: 39px;
}

.menu__item:last-child {
    margin-right: 22px;
}

.logo__wrap {
    margin: 0 25px 0 31px;
}

.menu__right {
    position: relative;
    top: 7px;
    float: right;
}