.button__remove {
    padding: 5px 16px;
    border-radius: 2px;
    background-color: #f7f8fa;
    border: solid 1px #d8dde3;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #53687e;
    cursor: pointer;
}